<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FRC_Scouting_V2.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <FRC_Scouting_V2.Properties.Settings>
      <setting name="clickToEmptyTextBoxes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>Anonymous</value>
      </setting>
      <setting name="minimizeHomeWentEventLoads" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="firstTimeLoad" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="databaseIP" serializeAs="String">
        <value>50.87.144.85</value>
      </setting>
      <setting name="databasePort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="databaseUsername" serializeAs="String">
        <value>xnovax_testers</value>
      </setting>
      <setting name="databasePassword" serializeAs="String">
        <value>ZxwghMRiBbD5LsxHavQp/A==</value>
      </setting>
      <setting name="databaseName" serializeAs="String">
        <value>xnovax_robotics_test</value>
      </setting>
      <setting name="clearConsoleOnToggle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="allowExportToTextFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="showQuestionButtons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="colourTeamComparisonStatistics" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="teamComparisonEqualValueColour" serializeAs="String">
        <value>Blue</value>
      </setting>
    </FRC_Scouting_V2.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6"
                type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>

      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient"
           description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>