<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="FRC_Scouting_V2_Mobile.FRC_Scouting_V2_Mobile" android:versionCode="1" android:versionName="1.0">
	<uses-sdk />
	<application android:label="FRC_Scouting_V2_Mobile" android:icon="@drawable/Icon"></application>
</manifest>